<%- include('../shared/header') %>
<main>
    <h1>Ajouter un nouveau message  </h1>
    <form method="post">
        <div>
            <label for="pseudo"></label>
            <input id="pseudo" name="pseudo" type="text"></div>
        <div>
            <label for="title"></label>
            <input id="title" name="title" type="text"></div>
        <div>
            <label for="msg"></label>
            <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
        </div>
        <a href="/message/">Annuler</a>
        <input type="submit" value="Ajouter">
    </form>
    <a href="/message/">Annuler</a>
</main>
<%- include('../shared/footer') %>
