<%- include('../shared/header') %>
<main>
    <h1>Voici la liste des messages : </h1>
    <div>ToDo : Afficher la liste</div>
    <a href="/message/ajouter">Ajouter un message</a>
</main>
<%- include('../shared/footer') %>
