<%- include('../shared/header') %>
<main>
    <h1 class="txt-slate">Bienvenue sur notre site de messages personnalises</h1>
    <img style="height: 220px;" src="/images/undraw_Newsletter_re_wrob.png" alt="message">
</main>
<%- include('../shared/footer') %>
